:root {
    --gridsize: 32;
    --screensize: 45rem;
}

* {
    font-family: 'Courier New', monospace;
}

body {
    height: 100vh;
    margin: 0;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: yellow;
    font-size: 3rem;
}

.holder {
    display: flex;
    gap: 10px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.densityChanger {
    font-size: 1.2rem;
}

.slider {
    width: 100%;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.canvas {
    width: var(--screensize);
    height: var(--screensize);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--gridsize), 1fr);
    grid-template-rows: repeat(var(--gridsize), 1fr);
}

.cell {
    background-color: #AEFF80;
}

.cell:hover {
    background-color: yellow;
}

.dark {
    background-color: #326614;
}